# Spotify Project part 2

This is part 2 of my Spotify project. Part 1 involved creating a table using SQL with a sample of the datset below, and establishing a connection to it. The table was then shared on GitHub. This part focuses on my interactions with the original dataset in the hopes of anaylysing it using Pandas for any trends or insights.

In [1]:
import pandas as pd
import numpy as np

In [2]:
spotify_df = pd.read_csv("C:/Users/JackMadden/OneDrive - JCW Resourcing/Documents/spotify_artist_data.csv")

In [3]:
spotify_df

,Unnamed: 0,Artist Name,Lead Streams,Feats,Tracks,One Billion,100 Million,Last Updated
0,1,Drake,"50,162,292,808","19,246,513,666",262,6,130,19.09.22
1,2,Bad Bunny,"44,369,032,140","5,391,990,975",163,5,118,20.09.22
2,3,Ed Sheeran,"38,153,682,361","2,791,278,201",240,10,62,19.09.22
3,4,The Weeknd,"34,767,779,741","4,288,903,657",186,8,72,19.09.22
4,5,Taylor Swift,"32,596,728,109","424,053,296",323,1,96,20.09.22
...,...,...,...,...,...,...,...,...
1004,1005,Gotye,"1,424,591,618","10,576,378",46,1,1,31.07.22
1005,1006,NIKI,"1,422,920,850","231,405,433",55,0,4,14.09.22
1006,1007,Duke Dumont,"1,422,096,182","24,622,115",121,0,2,31.07.22
1007,1008,Laura Pausini,"1,421,622,604","293,291,443",434,0,0,13.09.22
1008,1009,Beck,"1,420,597,420","83,871,063",300,0,1,17.08.22

In [4]:
spotify_df

,Unnamed: 0,Artist Name,Lead Streams,Feats,Tracks,One Billion,100 Million,Last Updated
0,1,Drake,"50,162,292,808","19,246,513,666",262,6,130,19.09.22
1,2,Bad Bunny,"44,369,032,140","5,391,990,975",163,5,118,20.09.22
2,3,Ed Sheeran,"38,153,682,361","2,791,278,201",240,10,62,19.09.22
3,4,The Weeknd,"34,767,779,741","4,288,903,657",186,8,72,19.09.22
4,5,Taylor Swift,"32,596,728,109","424,053,296",323,1,96,20.09.22
...,...,...,...,...,...,...,...,...
1004,1005,Gotye,"1,424,591,618","10,576,378",46,1,1,31.07.22
1005,1006,NIKI,"1,422,920,850","231,405,433",55,0,4,14.09.22
1006,1007,Duke Dumont,"1,422,096,182","24,622,115",121,0,2,31.07.22
1007,1008,Laura Pausini,"1,421,622,604","293,291,443",434,0,0,13.09.22
1008,1009,Beck,"1,420,597,420","83,871,063",300,0,1,17.08.22

In [5]:
spotify_df['Feats']

0       19,246,513,666
1        5,391,990,975
2        2,791,278,201
3        4,288,903,657
4          424,053,296
             ...
1004        10,576,378
1005       231,405,433
1006        24,622,115
1007       293,291,443
1008        83,871,063
Name: Feats, Length: 1009, dtype: object

In [60]:
spotify_df.groupby(['Tracks']).mean()

        Artist Number
Tracks
1,010      578.000000
1,024      891.000000
1,073      147.000000
1,129      755.000000
1,308      384.000000
...               ...
978        638.000000
98         580.125000
99         353.333333
992        852.000000
Tracks     505.000000

[420 rows x 1 columns]

In [68]:
spotify_df.groupby(['Artist Name', 'Tracks'])['Lead Streams'].sum()

Artist Name  Tracks
$NOT         58        1,456,594,009
$uicideboy$  313       7,392,060,042
(G)I-DLE     68        1,549,107,296
*NSYNC       89        1,656,401,553
2 Chainz     409       3,429,709,034
                           ...
fun.         26        1,792,718,438
girl in red  29        2,264,464,619
gnash        84        2,083,638,974
iann dior    55        2,102,922,842
will.i.am    103       1,641,904,383
Name: Lead Streams, Length: 1001, dtype: object

In [66]:
spotify_df.groupby(['Artist Name'])['Tracks'].sum()

Artist Name
$NOT            58
$uicideboy$    313
(G)I-DLE        68
*NSYNC          89
2 Chainz       409
              ...
fun.            26
girl in red     29
gnash           84
iann dior       55
will.i.am      103
Name: Tracks, Length: 1001, dtype: object

In [65]:
spotify_df.groupby(['Artist Name'])['Feats'].sum()

Artist Name
$NOT            110324095
$uicideboy$     255581637
(G)I-DLE          4846360
*NSYNC           25912106
2 Chainz       5081836495
                  ...
fun.               203986
girl in red       6043639
gnash           303083754
iann dior      2291368890
will.i.am      2159351268
Name: Feats, Length: 1001, dtype: object

In [6]:
spotify_df['Feats']

0       19,246,513,666
1        5,391,990,975
2        2,791,278,201
3        4,288,903,657
4          424,053,296
             ...
1004        10,576,378
1005       231,405,433
1006        24,622,115
1007       293,291,443
1008        83,871,063
Name: Feats, Length: 1009, dtype: object

In [7]:
spotify_df['Feats'] = spotify_df['Feats'].replace(",", '', regex = True)

In [8]:
spotify_df['Feats'] = spotify_df['Feats'].replace(" ", '', regex = True)

In [9]:
spotify_df['Feats'] = spotify_df['Feats'].replace("'", '', regex = True)

In [73]:
spotify_df[['Feats', 'Lead Streams']].sum()

Feats           1924651366653919909752791278201428890365742405...
Lead Streams    50,162,292,80844,369,032,14038,153,682,36134,7...
dtype: object

In [11]:
spotify_df['Feats'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1009 entries, 0 to 1008
Series name: Feats
Non-Null Count  Dtype
--------------  -----
1009 non-null   object
dtypes: object(1)
memory usage: 8.0+ KB

In [12]:
spotify_df['Feats']

0       19246513666
1        5391990975
2        2791278201
3        4288903657
4         424053296
           ...
1004       10576378
1005      231405433
1006       24622115
1007      293291443
1008       83871063
Name: Feats, Length: 1009, dtype: object

In [13]:
spotify_df.rename(columns = {'Unnamed: 0' :'Artist Number'}
                          , inplace = True)

In [14]:
spotify_df

,Artist Number,Artist Name,Lead Streams,Feats,Tracks,One Billion,100 Million,Last Updated
0,1,Drake,"50,162,292,808",19246513666,262,6,130,19.09.22
1,2,Bad Bunny,"44,369,032,140",5391990975,163,5,118,20.09.22
2,3,Ed Sheeran,"38,153,682,361",2791278201,240,10,62,19.09.22
3,4,The Weeknd,"34,767,779,741",4288903657,186,8,72,19.09.22
4,5,Taylor Swift,"32,596,728,109",424053296,323,1,96,20.09.22
...,...,...,...,...,...,...,...,...
1004,1005,Gotye,"1,424,591,618",10576378,46,1,1,31.07.22
1005,1006,NIKI,"1,422,920,850",231405433,55,0,4,14.09.22
1006,1007,Duke Dumont,"1,422,096,182",24622115,121,0,2,31.07.22
1007,1008,Laura Pausini,"1,421,622,604",293291443,434,0,0,13.09.22
1008,1009,Beck,"1,420,597,420",83871063,300,0,1,17.08.22

# Ideas for the future

In order to make sure I am keeping up to date with the latest Spotify music trends, artist's statistics, and other interesting things within the music industry, I plan to use a Pandas method to convert a table containing artist streaming statistics into a format that Pandas can read. I can then clean the data on here, convert it to a csv file, and create a table using SQL again. I will demonstrate some of the logic and processes below.

In [15]:
pip install lxml html5lib

Requirement already satisfied: lxml in c:\users\jackmadden\anaconda3\lib\site-packages (4.8.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: html5lib in c:\users\jackmadden\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: webencodings in c:\users\jackmadden\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\jackmadden\anaconda3\lib\site-packages (from html5lib) (1.16.0)

In [16]:
# lxml html5lib are modules that allow a table to be web scraped using Pandas

In [17]:
Spotify_stats = pd.read_html("https://chartmasters.org/most-streamed-artists-ever-on-spotify/#:~:text=Expectedly%2C%20the%20most%20streamed%20artist%20of%20all-time%20is,over%20the%20top%20spot%20ahead%20of%20Ariana%20Grande.")

In [18]:
print(Spotify_stats)

[      #        Artist  Lead Streams  Tracks  1b  100m  10m   1m  Feat Streams  \
0     1         Drake   50942819980     262   7   133  256  259   19858928144
1     2     Bad Bunny   46206549533     164   8   119  157  162    5162523739
2     3    Ed Sheeran   38748062755     243  10    63  180  221    2780754120
3     4    The Weeknd   35642810528     186   8    74  147  170    4371711017
4     5  Taylor Swift   33917083840     343   1   102  260  334     431943666
..  ...           ...           ...     ...  ..   ...  ...  ...           ...
95   96         AC/DC    8428356902     309   3    10   87  245             0
96   97          P!nk    8363469927     227   0    23   83  166     673841848
97   98          Tyga    8350553840     306   1    21  110  262    4013768170
98   99    John Mayer    8334072890     208   0    20  117  184     521484782
99  100  Trippie Redd    8281115390     198   0    24  127  182    3265866990

      Update
0   21.10.22
1   21.10.22
2   21.10.22
3   20.10.22
4   22.10.22
..       ...
95  19.10.22
96  21.10.22
97  12.10.22
98  17.10.22
99  09.10.22

[100 rows x 10 columns]]

In [19]:
for stats in Spotify_stats:
    print(stats[["#"]]) # creates a for loop iterating through table looking for corresponding value

      #
0     1
1     2
2     3
3     4
4     5
..  ...
95   96
96   97
97   98
98   99
99  100

[100 rows x 1 columns]

In [20]:
print(Spotify_stats[0]['Artist']) # need index of 0 and column name. If index value > 0, index out of range error

0            Drake
1        Bad Bunny
2       Ed Sheeran
3       The Weeknd
4     Taylor Swift
          ...
95           AC/DC
96            P!nk
97            Tyga
98      John Mayer
99    Trippie Redd
Name: Artist, Length: 100, dtype: object

In [21]:
Spotify_stats2 = Spotify_stats.copy() 

# creates a copy of table
# Will use to show how table can be changed into excel or csv file

In [22]:
Spotify_stats2

[      #        Artist  Lead Streams  Tracks  1b  100m  10m   1m  Feat Streams  \
 0     1         Drake   50942819980     262   7   133  256  259   19858928144
 1     2     Bad Bunny   46206549533     164   8   119  157  162    5162523739
 2     3    Ed Sheeran   38748062755     243  10    63  180  221    2780754120
 3     4    The Weeknd   35642810528     186   8    74  147  170    4371711017
 4     5  Taylor Swift   33917083840     343   1   102  260  334     431943666
 ..  ...           ...           ...     ...  ..   ...  ...  ...           ...
 95   96         AC/DC    8428356902     309   3    10   87  245             0
 96   97          P!nk    8363469927     227   0    23   83  166     673841848
 97   98          Tyga    8350553840     306   1    21  110  262    4013768170
 98   99    John Mayer    8334072890     208   0    20  117  184     521484782
 99  100  Trippie Redd    8281115390     198   0    24  127  182    3265866990

       Update
 0   21.10.22
 1   21.10.22
 2   21.10.22
 3   20.10.22
 4   22.10.22
 ..       ...
 95  19.10.22
 96  21.10.22
 97  12.10.22
 98  17.10.22
 99  09.10.22

 [100 rows x 10 columns]]

In [23]:
np.shape(Spotify_stats2) # 1 table, 100 rows and 10 columns- 3d object. Won't work with to_csv unless converted to 2d

(1, 100, 10)

In [24]:
Spotify_stats2_new = np.reshape(Spotify_stats2, 10 * 100) # converts rehshaped table from 1, 100, 10 to 100 rows by 10 columns

In [25]:
Spotify_stats2_new.shape

(1000,)

In [26]:
Spotify_stats2_new = Spotify_stats2_new.reshape(100, 10)

In [27]:
Spotify_stats2_df = pd.DataFrame(Spotify_stats2_new)

In [28]:
Spotify_stats2_df.rename(columns = {0 :'Artist Number', 1 :'Artist',
                              2 :'Lead Streams', 3 : 'Tracks', 4 : '1b', 5 : '100m', 6 : '10m'
                                    , 7 : '1m', 8 : 'Feat Streams', 9 : 'Update'}
                          , inplace = True) 
# inplace saves changes to dataframe without Spotify_stats2_df = Spotify_stats2_df.rename() required

In [29]:
Spotify_stats2_df.columns

Index(['Artist Number', 'Artist', 'Lead Streams', 'Tracks', '1b', '100m',
       '10m', '1m', 'Feat Streams', 'Update'],
      dtype='object')

In [30]:
Spotify_stats2_df.to_csv("Spotify_artist_latest_data.csv") # converts table to csv. Could also use to_excel for excel file

In [31]:
Spotify_stats3 = pd.read_csv("C:/Users/JackMadden/OneDrive - JCW Resourcing/Documents/Spotify_artist_latest_data.csv") 
# contained column like Artist Number without column name on left of Artist Number. Deleted on file

In [32]:
Spotify_stats3.head()

,Artist Number,Artist,Lead Streams,Tracks,1b,100m,10m,1m,Feat Streams,Update
0,1,Drake,50916465589,262,7,133,256,259,19489949893,19.10.22
1,2,Bad Bunny,46041074561,163,8,119,157,162,5152268377,19.10.22
2,3,Ed Sheeran,38693160817,244,10,63,180,221,2846774884,18.10.22
3,4,The Weeknd,35613566062,186,8,74,147,170,4368990279,19.10.22
4,5,Taylor Swift,33644857311,323,1,101,250,314,431215778,19.10.22